.dashboard {
  display: flex;
  min-height: 100vh;
}

/* sidebar */
.sidebar-container {
  width: 250px;
  background-color: antiquewhite;
  border-right: 2px solid gray;
}

/* content */
.contact-container {
  flex: 1;
  padding: 20px;
}

/* ✅ mobile */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar-container {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid gray;
  }

  .contact-container {
    width: 100%;
  }
}
.contact-list {
  padding: 20px;
  overflow-x: auto;
  text-align: center;
}

.table-icon1 {
  color: green;
  cursor: pointer;
}

.table-icon2 {
  color: red;
  cursor: pointer;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-details {
  background: white;
  padding: 20px;
  border-radius: 8px;

  width: 90%;
  max-width: 350px;
}

/* ✅ mobile */
@media (max-width: 768px) {
  .contact-details {
    width: 95%;
    font-size: 14px;
  }
}
