.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  text-align: center;
  padding: 20px;
  color: white;
}

.home-title {
  font-size: 2rem;
}

.home-description {
  font-size: 1.2rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  padding: 20px;
  text-align: center;
  color: white;

  background-image: linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.4)
    ),
    url("../img2.jpg");

  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .home-title {
    font-size: 22px;
  }

  .home-description {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .form-container,
  .add-form-container,
  .home {
    background-position: center;
    background-size: cover;  /* ✅ THIS FIXES MOBILE */
  }
}