.home{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    padding-inline: 30px;
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url("../img2.jpg");
}
.home-title{
    font-size: 2rem;
    margin-bottom: 10px;
    word-spacing: 1%;
}
.home-description{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
  .home-container {
    padding: 10px;
    text-align: center;
  }

  .home-container h1 {
    font-size: 22px;
  }

  .home-container p {
    font-size: 14px;
  }
}