.sidebar {
  width: 100%;
}

.sidebar-item {
  padding: 12px 20px;
}

.sidebar-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
}

.icon {
  margin-right: 10px;
}

.active {
  background-color: rgb(5,121,121);
}

.active .sidebar-link {
  color: white;
}